In [18]:
thisdict = {
    "name" : "Uttam",
    "age": 25,
    "work": "web developer"
}

In [2]:
print(thisdict)

{'name': 'Uttam', 'age': 25, 'work': 'web developer'}

In [3]:
print(thisdict["name"])

Uttam

# Dictionary items are ordered, changeable, and does not allow duplicates.

In [4]:
thisdict['name'] = "Another Name"
print(thisdict["name"])

Another Name

In [6]:
dict2 = {
    "name":"one",
    "age": 25,
    "name": "two"
}
print(dict2)

{'name': 'two', 'age': 25}

In [8]:
print(len(thisdict))
print(len(dict2))

3
2

In [11]:
x = thisdict.keys()
print(x)

dict_keys(['name', 'age', 'work'])

In [12]:
x = thisdict.values()
print(x)

dict_values(['Another Name', 25, 'web developer'])

In [20]:
x = thisdict.keys()
print(x)
thisdict['year'] = 1997
print(x)

dict_keys(['name', 'age', 'work'])
dict_keys(['name', 'age', 'work', 'year'])

In [21]:
items = thisdict.items()

In [22]:
print(items)

dict_items([('name', 'Uttam'), ('age', 25), ('work', 'web developer'), ('year', 1997)])

In [25]:
if "name" in thisdict:
    print("yes, name is " + thisdict['name'])

yes, name is Uttam

In [26]:
thisdict.pop('year')

1997

In [27]:
print(thisdict)

{'name': 'Uttam', 'age': 25, 'work': 'web developer'}

In [28]:
thisdict.popitem()
print(thisdict)

{'name': 'Uttam', 'age': 25}

In [29]:
del thisdict['age']
print(thisdict)

{'name': 'Uttam'}

In [30]:
del thisdict
print(thisdict)

NameError: name 'thisdict' is not defined

In [31]:
dict2.clear()

In [32]:
print(dict2)

{}

In [33]:
thisdict = {
    "name" : "uttam",
    "age" : 25,
    "work" : "computer",
    "year" : 1997,
}

In [34]:
for x in thisdict:
    print(x)

name
age
work
year

In [35]:
for x in thisdict:
    print(thisdict[x])

uttam
25
computer
1997

In [37]:
for x in thisdict.values():
    print(x)

uttam
25
computer
1997

In [38]:
for x in thisdict.keys():
    print(x)

name
age
work
year

In [39]:
for x, y in thisdict.items():
    print(x, y)

name uttam
age 25
work computer
year 1997

In [40]:
newdict = thisdict.copy()

In [41]:
print(newdict)
newdict['new'] = "hello"
print(newdict)
print(thisdict)

{'name': 'uttam', 'age': 25, 'work': 'computer', 'year': 1997}
{'name': 'uttam', 'age': 25, 'work': 'computer', 'year': 1997, 'new': 'hello'}
{'name': 'uttam', 'age': 25, 'work': 'computer', 'year': 1997}

In [42]:
myfriend = {
    "uttam" : {
        'name' : "uttam kumar pal",
        'age' : 25
    },
    "jone" : {
        'name' : "Jone jo",
        'age' : 40
    },
    "friend2" : {
        'name' : "Friend Name 2",
        'age' : 23
    }
}
print(myfriend)

{'uttam': {'name': 'uttam kumar pal', 'age': 25}, 'jone': {'name': 'Jone jo', 'age': 40}, 'friend2': {'name': 'Friend Name 2', 'age': 23}}

In [43]:
myfriend["uttam"]

{'name': 'uttam kumar pal', 'age': 25}

In [44]:
myfriend['uttam']['name']

'uttam kumar pal'

# Dictionary Methods
### clear(), copy(), keys(), values(), items(), pop(), popitem(), update()

# if ... else

##  ==, !=, <, >, <=, >=,

In [45]:
a, b = 12,21

In [46]:
a

12

In [47]:
if a > b:
    print("a geater than b")
else :
    print("a less than b")

a less than b

In [48]:
a = 12
if a < 12:
    print("a is less than 12")
    print(a)
elif a == 12 :
    print("a is equal 12")
    print(a)
else:
    print("a geater than 12")
    print(a)

a is equal 12
12

In [49]:
a = 11
if a < 12:
    print("a is less than 12")
    print(a)
elif a == 12 :
    print("a is equal 12")
    print(a)
else:
    print("a geater than 12")
    print(a)

a is less than 12
11

In [50]:
# If you have only one statement to execute, you can put it on the same line as the if statement
if a < b : print("a is less than b")

a is less than b

# Short Hand If ... Else

In [52]:
print("A") if a > b else print('B')

B

In [53]:
# One line if else statement, with 3 conditions:
a = 330
b = 330
print("A") if a > b else print("=") if a == b else print("B")

=

### and, or, !

In [54]:
a = 200
b = 33
c = 500
if a > b and c > a:
  print("Both conditions are True")
if a < b or c > a:
  print("Both or only one conditions are True")

Both conditions are True
Both or only one conditions are True

In [55]:
if a !> c: 
    print("a less than c")
else:
    print("a geater than c")

SyntaxError: invalid syntax (<ipython-input-55-e49cccecb6f2>, line 1)

In [56]:
if a != c: 
    print("a not equal c")
else:
    print("a equal c")

a not equal c

# While Loop, For Loop

In [58]:
i = 1
while i < 10:
    print(i)
    i += 1

1
2
3
4
5
6
7
8
9

In [60]:
i = 1 
while i < 6:
    print(i)
    i += 1 
else:
    print("Finish the loop")
print(i)

1
2
3
4
5
Finish the loop
6

In [61]:
i = 1 
while i < 6:
    if i == 3:
        break
    print(i)
    i += 1 
else:
    print("Loop Break when i = 3")
print(i)

1
2
3

In [62]:
for x in range(6):
    print(x)

0
1
2
3
4
5

In [63]:
for x in range(3, 6):
    print(x)

3
4
5

In [64]:
for x in range(3, 10, 2):
    print(x)

3
5
7
9

In [65]:
#  The else block will NOT be executed if the loop is stopped by a break statement.
for x in range(6):
  print(x)
else:
  print("Finally finished!")

0
1
2
3
4
5
Finally finished!

# Nested Loop

In [66]:
adj = ["red", "big", "tasty"]
fruits = ["apple", "banana", "cherry"]

for x in adj:
  for y in fruits:
    print(x, y)

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry