In [1]:
list = ['apple', 'banana', 'cherry']

In [2]:
print(list)

['apple', 'banana', 'cherry']

In [3]:
len(list)

3

In [5]:
print(type(list))

<class 'list'>

In [8]:
# list2 = list(('Uttam', 'Kumar', 'Jhon', 'khan'))
#list method is not work 
list2 = ['Uttam', 'Kumar', 'Jhon', 'khan']
print(list2)

['Uttam', 'Kumar', 'Jhon', 'khan']

In [9]:
print(list2[1:])

['Kumar', 'Jhon', 'khan']

In [10]:
if "uttam" in list2:
    print("Uttam is in the list")

In [11]:
if "Uttam" in list2:
    print("Uttam is in the list")
    
#Search Item in list is case sensitive

Uttam is in the list

In [12]:
list2[1] = 'Sun'
print(list2)

['Uttam', 'Sun', 'Jhon', 'khan']

In [20]:
number = [1,2,3,4,5,6,7,8,9]

In [21]:
number.insert(1, 100)
print(number)

[1, 100, 2, 3, 4, 5, 6, 7, 8, 9]

In [22]:
number.append(20)

In [23]:
print(number)

[1, 100, 2, 3, 4, 5, 6, 7, 8, 9, 20]

# Extend

In [24]:
list.extend(list2)
print(list)

['apple', 'banana', 'cherry', 'Uttam', 'Sun', 'Jhon', 'khan']

In [25]:
thislist = [1,2,3,4]
thistuple = ('A', 'B', 'C')
thislist.extend(thistuple)
print(thislist)

[1, 2, 3, 4, 'A', 'B', 'C']

In [26]:
print(type(thislist))

<class 'list'>

In [14]:
number[1:3] = [10,11]
print(number)

[1, 10, 11, 4, 5, 6, 7, 8, 9]

In [15]:
number[0:9] = ['A']
print(number)

['A']

In [17]:
print(number)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [18]:
number[0:3] = [10]
print(number)

[10, 4, 5, 6, 7, 8, 9]

In [19]:
number[:4]

[10, 4, 5, 6]

# Delete item

In [28]:
number.remove(100)
print(number)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 20]

In [29]:
number.pop()

20

In [30]:
del number[8]
print(number)

[1, 2, 3, 4, 5, 6, 7, 8]

In [31]:
del number
print(number)

NameError: name 'number' is not defined

In [32]:
num = [1,2,3,4,5,6]
print(num)

[1, 2, 3, 4, 5, 6]

In [33]:
num.clear()
print(num)

[]

# Loop Through a List

In [34]:
print(thislist)

[1, 2, 3, 4, 'A', 'B', 'C']

In [35]:
for x in thislist:
    print(x)

1
2
3
4
A
B
C

In [36]:
for i in range(len(thislist)):
    print(thislist[i])

1
2
3
4
A
B
C

In [38]:
while i < len(thislist):
    print(thislist)
    i+=1

[1, 2, 3, 4, 'A', 'B', 'C']

In [39]:
[print(x) for x in thislist]

1
2
3
4
A
B
C

[None, None, None, None, None, None, None]

In [40]:
print(thislist)

[1, 2, 3, 4, 'A', 'B', 'C']

In [41]:
for x in thislist:
    if x > 62:
        newlist.append(x)
        
print(newlist)

TypeError: '>' not supported between instances of 'str' and 'int'

In [1]:
fruits = ['apple', 'banana', 'cherry']
newlist = [x for x in fruits if "a" in x]
print(newlist)

['apple', 'banana']

In [3]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
newlist = []

for x in fruits:
    if "a" in x:
        newlist.append(x)

print(newlist)

['apple', 'banana', 'mango']

In [4]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
newlist = [x.upper() for x in fruits]
print(newlist)

['APPLE', 'BANANA', 'CHERRY', 'KIWI', 'MANGO']

In [5]:
for x in fruits:
    print(x.upper())

APPLE
BANANA
CHERRY
KIWI
MANGO

In [6]:
newlist = [x if x != "banana" else "orange" for x in fruits]
# "Return the item if it is not banana, if it is banana return orange".

In [7]:
print( newlist)

['apple', 'orange', 'cherry', 'kiwi', 'mango']